
<br><br>

<label for="subcategories">Subcategories</label>
<span></span>
<select id="subcategories" >
      <option default>Subcategories</option>

    {{#each model as |subcategory|}}
<br>

<option value={{subcategory.id}} >{{subcategory.name}}</option>

<br>
{{/each}}

</select>
<button {{action "auswahl" }}>Submit</button>

 {{outlet}}