<br><br>

<label for="subcategories">Subcategories</label>
<span></span>
<select id="subcategories">

    {{#each model as |subcategory|}}
<br>

<option value={{subcategory.id}} {{action "auswahl" }}>{{subcategory.name}}</option>

<br>
{{/each}}

</select>

 {{outlet}}