
<br><br>

<label for="bcategories">Biete Categories</label>
<span></span>
<select id="bcategories" {{action "subcategory"}}>
    <option default>Categories</option>
   
    {{#each model as |category|}}
<br>

<option value={{category.id}}>{{category.name}}</option>

<br>
{{/each}}

</select>



    
    {{outlet}}