<br><br><br>

<form  >
    <fieldset>
        <legend>Angaben für Ihre Anzeige</legend>
        
<br><br>

Vorname
<input type="text" required> <br>   <br>

Nachname 
<input type="text" required> <br>   <br>

Addresse
<input type="text"> <br>   <br>

Ort
<input type="text"> <br>   <br>

  Überschrift Ihrer Anzeige 
<input type="text"> <br>   <br>

 Anzeigeninhalt 

<textarea id="inhalt" rows="3" cols="50"></textarea> 

<br><br>
Kontakt Nummer
<input type="text"> <br>   <br>

Email

<input type="text"> <br>   <br>

<button>Submit</button>






</fieldset>
</form>

{{outlet}}